<ion-header>
  <ion-navbar primary>
    <ion-buttons start>
      <button ion-button (click)="openProfilPage()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes garanties</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="docsImpots" class="outer-content" >

  <div style="display:flex; flex-direction:column;justify-content:center">
     <button ion-button (click)="takePhoto()">Ajouter une garantie !</button>
     <img [src]="imageURL" *ngIf="imageURL" />

     <button ion-button (click)="upload()" *ngIf="imageURL">Enregistrer !</button>

   </div>


  <ion-list>
     <ion-card>
       <ion-card-header>
     ELECTROMENAGER
     </ion-card-header>
<ion-list>
      <ion-item>
        <ion-label><ion-icon name="attach"></ion-icon><a href="" onclick="window.open('https://patrice-leclerc.org/attachments/article/11/impot2016.pdf', '_system', 'location=yes')">Garantie TV SONY GJHS45"</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon name="attach"></ion-icon><a href="" onclick="window.open('https://www.impots.gouv.fr/portail/files/formulaires/1535-thlv/2016/1535-thlv_1470.pdf', '_system', 'location=yes')">Garantie séche linge Whirlpool FSS89SFFQ</a></ion-label>
      </ion-item>

    </ion-list>

    <ion-card-header>
  TELEPHONIE
  </ion-card-header>

    <ion-list>
          <ion-item>
            <ion-label><ion-icon name="attach"></ion-icon><a href="" onclick="window.open('https://patrice-leclerc.org/attachments/article/11/impot2016.pdf', '_system', 'location=yes')">Garantie TV SONY GJHS45"</a></ion-label>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="attach"></ion-icon><a href="" onclick="window.open('https://firebasestorage.googleapis.com/v0/b/xanatest-7734d.appspot.com/o/taxefonciere.pdf?alt=media&token=8c8de480-5f97-4d80-a42b-653947df951f', '_system', 'location=yes')">Garantie Iphone 6S Black 128 GO </a></ion-label>
          </ion-item>
        </ion-list>

        <ion-card-header>
      AUTRES
      </ion-card-header>

        <ion-list>
              <ion-item>
                <ion-label><ion-icon name="attach"></ion-icon><a href="" onclick="window.open('https://patrice-leclerc.org/attachments/article/11/impot2016.pdf', '_system', 'location=yes')"></a></ion-label>
              </ion-item>
            </ion-list>

  </ion-card>


</ion-list>
  </ion-content>
