<ion-header>
  <ion-navbar primary>
    <ion-buttons start>
      <button ion-button (click)="openProfilPage()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
  <button ion-button large block color="button1" (click)="openAdminPage()">
    Xan'Administratif
  </button>
  </ion-item>
  <ion-item>
  <button ion-button large block color="button2" (click)="openAutoPage()">
    Xan'Auto
  </button>
  </ion-item>
  <ion-item>
  <button ion-button large block color="button3" (click)="openSantePage()">
    Xana'SAnté
  </button>
  </ion-item>
  <ion-item>
  <button ion-button large block color="button4" (click)="openLogementPage()">
    Xana'Logement
  </button>
  </ion-item>
  <ion-item>
  <button ion-button large block color="button5" (click)="openPortefeuillePage()">
    Xana'Portefeuille
  </button>
  </ion-item>
</ion-list>

<ion-fab  left bottom>
    <button ion-fab color="dark" ><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="right">
      <button ion-fab (click)="openDocsPage()"><ion-icon name="document"></ion-icon></button>
      <button ion-fab><ion-icon name="settings"></ion-icon></button>
      <button ion-fab><ion-icon name="trash"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <button ion-button color="dark" (click)="takePhoto()">Take Photo</button>
<img [src]="imageURL" *ngIf="imageURL" />


  <div style="display:flex; flex-direction:column;justify-content:center">
     <button ion-button (click)="takePhoto()">Lets take a picture!</button>
     <img [src]="imageURL" *ngIf="imageURL" />

     <button ion-button (click)="upload()" *ngIf="imageURL">Upload to Firebase!</button>

   </div>

 </ion-content>
